<div class="container p-5">
    <div class="row">
        <div class="col-3 float-end" >
            <img src={{character.image}}>
        </div>
        <div class="col-9">
            <h2 *ngIf="character.name != ''">Name: <input [(ngModel)]="character.name"/></h2>
            <h2 *ngIf="character.status != ''">Status: <input [(ngModel)]="character.status"/></h2>
            <h2 *ngIf="character.species != ''">Species: <input [(ngModel)]="character.species"/></h2>
            <h2 *ngIf="character.type != ''">Type: <input [(ngModel)]="character.type"/></h2>
            <h2 *ngIf="character.gender != ''">Gender: <input [(ngModel)]="character.gender"/></h2>
            <h2 *ngIf="character.location != ''">Location: <input [(ngModel)]="character.location"/></h2>
            <button class="btn btn-danger" (click)="deleteCharacter()">Delete</button>
            <button type="submit" class="btn btn-success" (click)="updateCharacter()">Update</button>
        </div>
    </div>
</div>
